<h1><%= @kitten.name %></h1>

<p>
  <b>Age:</b>
  <%= @kitten.age %>
</p>

<p>
  <b>Cuteness:</b>
  <%= @kitten.cuteness %>
</p>

<p>
  <b>Softness:</b>
  <%= @kitten.softness %>
</p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %>

<%= link_to 'Delete', @kitten, method: :delete,
                              data: { confirm: "You sure?" } %>
